:root{
    --primary-color: #1af557;

}

html {
  font-family: sans-serif;
  line-height: 1.7;
}

body {
  margin: 0;
  /* display: flex;
    flex-direction: column; */
  /* min-height: 100vh; */
}

.wrapper {
  max-width: 900px;
  /* width: 50%; */
  margin: auto;
}
nav{
    height: 5vh;
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr; 
    gap: 1rem;

    padding: 1rem;
    justify-content:end;
}

h1 {
  font-size: 5rem;
  text-align: right;
  /* position: absolute; */
  /* top:10vh;
  left:65vh; */
  color: #ff6b6b;
  margin-right: 3rem;
}

header span{
    color: white;
}

header{
    position: relative;
    display: grid;
    align-content: center;
    margin-bottom: 5rem;
    height: 90vh;


    /* width: 100%; */
    /* height: 100%; */
}

/* #background-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
} */

/* .background-video-container {
    position: relative;
   
    width: 100%;
    height: 100%;
    /* z-index: -1; */
  /*  */

.overlay{
    background: linear-gradient(45deg, rgba(255, 255, 255, 0), rgb(0 0 0 / 70%));
    width: 100%;
    z-index:-1;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;

}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }


main section {
  height: 100vh;
}

/* #reading-promotion, #trio {
    border: 2px solid red;
  } */

  /* #reading-promotion{
    margin-bottom: 8vh;
  } */

#trio{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  position: sticky;
  top: 1vh;
  /* bottom: 5vh; */
  /* justify-content: space-around; */
  /* align-content:stretch; */
  align-content: center;
  background-color: white;
  margin-bottom: 105vh;
  /* height: 100vh; */
  
  

}



#video1-trio,
#video2-trio,
#img-trio {
  /* width: 90%;
  height: 100%; */
  width: 103%;
height: 90%;
  object-fit: cover;
}

#video1-trio, #img-trio, #video2-trio{
/* transform: translate(); */
/* opacity: 0; */
position:relative;
/* opacity: 1; */
/* visibility: hidden; */
}

/* #img-trio{
    visibility: hidden;
} */



@keyframes video1-trio {
  0% {
    bottom: 200vh;
    /* visibility: ; */
    /* transform: translateY(200%); */
    opacity: 0;
    /* bottom: 200vh; */
  }

  /* 5%{ */
    /* bottom: 200vh; */
    /* opacity: 0; */

/* } */


  30%{
    opacity: 0;
  }

45%{
    /* transform: translateY(0); */
    /* opacity: 0.5; */

}

  75%{
    opacity: 1;
    /* bottom: 200vh; */
    
  }

  100% {
    position: static;
    
    /* opacity: 1; */
    /* transform: translateY(0); */

    /* visibility: visible; */
    /* opacity: 1; */
    /* filter:blur(0); */
    /* transform: translateY(0); */
    /* visibility: visible; */
    /* transform: translateY(0); */
  }
}

@keyframes img-trio {
    0%{
        bottom: 200vh;
        opacity: 0;
    }
    
    40%{
        opacity: 0;
    }

    75%{
        opacity: 1;

    }

    100%{
        position: static;
        /* opacity: 1; */
       
    }

}

@keyframes video2-trio {

    0%{
        bottom: 200vh;
        opacity: 0;
    }
    
    50%{
        opacity: 0;

    }

    75%{
        opacity: 1;

    }

    100%{
        position: static;
        /* opacity: 1; */
       
    }
    
}


#video1-trio {
  animation-name: video1-trio;
  /* animation-duration: 1.5s; */
  /* animation-timeline: view(); */

  animation-timeline: scroll();
  animation-timing-function: ease;

  /* animation-fill-mode: forwards; */
  /* animation-timing-function: ease-in-out; */
  /* animation-delay: 2s; */
}


#img-trio{
    animation-name: img-trio;
    /* animation-name: video1-trio  ease; */
    /* animation-duration: 1.5s; */
    /* animation-fill-mode: backwards; */
    /* animation-timeline: view(); */
    animation-timeline: scroll();
    animation-timing-function: ease;

    /* animation-delay: 2s; */

}

#video2-trio{
    animation-name: video2-trio; 
    animation-timeline: scroll();
    animation-timing-function: ease;


}

#reading-promotion{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    /* align-content: center; */
    /* align-items: start; */
    /* position: sticky; */
    /* position:relative; */
    /* top: 10vh; */
    /* justify-content: center; */
    /* margin-bottom: 110vh; */
    /* height: 200vh; */
    /* background-color: white; */

    /* gap: 1.5rem; */
    /* position: sticky;
    top: 1vh; */
    /* justify-content: space-around; */
    /* align-content:stretch; */
    /* align-content: center; */
    background-color: white;
    margin-bottom: 20vh;
    /* height: 100vh; */
    /* align-items: start; */
    /* height:auto; */


}
/* #reading-promotion h2{ */
.fixed-word{
    /* margin: 5rem auto; */
    /* padding: 3rem 0; */
    grid-row:1/3;
    position: sticky;  
    top:2vh;
    font-size: 6rem;
    /* border: 2px solid blue; */



}

.moving-words{
    display: grid;
    gap: 3rem;
    font-size: 4rem;
    align-items: start;
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 2rem;
    

}

@keyframes move {
    0%{
        opacity: 0;
        transform: scale(0.8);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    
}

.animated-words{
    animation-name: move ;
    animation-timeline: view(50% 30%);
    /* animation-timeline: scroll(); */
    animation-fill-mode: both;
    transform: scale(0.8);

}









 footer {
  background-color: var(--primary-color);
  padding: 1rem 0 1rem 0;
}
